body,p,a,ul,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,input,div{
  margin:0;
  padding:0;
  list-style:none;/*去掉小圆点*/
  }
  a{
     text-decoration:none;
	 color:#ccc;
    font-family:"微软雅黑";
  }
  .img{
  border:0px;
  }

#ttt{
  display:none;
  width:100%;
  height:100px;
  z-index:11111;
  position:fixed;
  top:0px;
  background:red;
  left:0px;
}







  /* 导航 */
.daohangbj{
  width:100%;
  height:36px;

  background: #FAFAFA;
}
.daohan{
  width:1200px;height:36px;margin:0 auto;
}
.dlleft{
  width:110px;height:36px;line-height: 36px;background: #fff;float:left;
}
.daohan p{
  font-size: 12px;float:left;
}
.dlleft a{
  float:left;font-size: 12px;color:blue;margin-left: 5px;
}
.xiegan{
  margin-left: 5px;
}
.dlleft a:hover{
  color:red;
}
.shzhong{
  width:100px;height:100%;float:left;line-height: 36px;
}
.daohanright{
  width:500px;height:100%;float:right;line-height: 36px;
}
.shanxi{
  float:left;width: 40px;height:18px;margin-top: 5px;
}
.daohanright li{
  float:left;position: relative;
}
.daohanright li a{
  font-size: 12px;color:#000;
}
.daohanright li a:hover{
  color:red;
}
.daohanright span{
  margin:0 10px;
}

.toperji{
  background:#fff;
  border:1px solid #ccc;
  display:none;
  position:absolute;
  left:-10px;
  top:35px;
  z-index:10;
  padding-top:-21px;
}
.toperji a{
  display:block;
  width:60px;
  height:20px;
  margin-bottom:5px;

}
.toperjiha{
  padding:10px 40px 0px;
  width:240px;
  height:140px;
  /*background:red;*/

}
.top-right a:hover{
  color:#f60;
}
.toperji-left{
  font-size:0;
  float:left;
}
.toperji-right{
  float:left;
  width:120px;
    margin-left:10px;
}
.toperji2>a{
  float:left;
}
 .toperji3>a{
  float:left;
}
 /* banner */
 .bannebj{
  width:100%;height: 60px;
 }
 .banner{
  width:1200px;height: 60px;margin:0 auto;
 }

 /* 1号店搜索栏 */
 .sousuobj{
  width:100%;height: 100px;
 }
 .sousuo{
  width:1200px;height:73px;margin:0 auto;/* line-height: 100px; */margin-top: 20px;
 }
 .ss-1{
  width: 204px;height: 72px;float:left;margin-right:30px;
 }
 .ss-2{
  width: 634px;height: 40px;float:left;border:2px solid red;
 }

   .shangpin{
    text-align: center;line-height: 40px;
   }
 .shousuowenzi{
  width:70px;height:40px;float:left;background: #F8F8F8; line-height: 42px;
 }
 .kuang{
   width:480px;height:40px;float:left;background: gray;
 }
 .shuru{
   width:470px;height:40px; border: 0px;
 }
 .shousuo{
  width:80px;height:40px;float:right;background: red;line-height: 40px;
 }
 
 .ss-3{
  width:236px;height: 52px;float:right;background: gray;
   }
.fuli{
  width: 70px;height: 44px;padding-top: 6px;
   background:#fcfcfc; 
  border: 1px solid #f2f2f2;
  cursor: pointer;float: left;
}
.sb-1{
  width: 62px;height: 20px;
   background:url(./image/2015-12-22_000129.png) no-repeat 20px 4px; 
}
.xb{
  width: 62px;height: 20px;
  /*border: 1px solid red;*/
  text-align: center;
  color: #999; 
  font-size: 14px;
}


.fuli1{
  width: 70px;height: 44px;padding-top: 6px;
  background:#fcfcfc;
  border: 1px solid #f2f2f2;
  cursor: pointer;float: left;
}
.sb1{
  width: 62px;height: 20px;
  background:url(./image/2015-12-22_001135.png) no-repeat 20px 4px;
}
.xb1{
  width: 62px;height: 20px;
  /*border: 1px solid red;*/
  text-align: center;
  color: #999;
  font-size: 13px;
}


.fuli2{
  width: 92px;height: 52px;
  background:#FF3C3C;
  /*border: 1px solid #f2f2f2;*/
  cursor: pointer;float: left;
}
.gouwuche{
  width: 92px;height: 49px;
  background:url(./image/2015-12-22_002025.png) no-repeat 9px 18px;
}


.ssxb{
  width: 550px;height: 30px;
}
.liebao{
  width:55px;height:30px;text-align: left;line-height:30px;float:left;font-size: 12px;color:#ccc;
}
.liebao:hover{
  color:red;
}

/* 商品列表分类 */
.spliebiaobj{
  width:100%;height: 40px;
 }
 .spliebiao{
  width:1200px;height:40px;margin:0 auto;line-height: 36px;
 }
 .splb li{
  float:left;text-align: center;line-height: 40px;
 }
 .fengleitou{
  width:210px;height: 40px;background: #FF3C3C;color:white;
 }
 .splbxf{
  margin: 0 20px;font-size: 14px;
 }
 .splbxf:hover{
  color:red;
 }
 .splbxf1{
  color:red;
 }
 .splbxf2{
  width:205px;height:40px;margin-left: 195px;
 }
/* banner */
.bannerbj1{
  width:100%;height: 398px;padding-top: 0px;margin-top: 0px;background: #E83C0A
 }
 .banner1{
  width:1200px;height:398px;margin:0 auto;
 }
 .b1zuo{
  width: 210px;height:398px;float:left;
 }
 .b1liebiao{
  width: 210px;height:398px;float:left;background: #B01D1D;
 }

 .b1lieb1{
  width:210px;height: 32px;margin-bottom: 1px;background: #C23131;position: relative;
 }
 .b1lieb1>a{
  line-height: 32px;font-size:12px;
 }
 .b1lieb1>i{
  line-height: 32px;color:#ccc;
 }

 .b1lieb1>img{
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  margin-top: 7px;
  margin-left:10px;
 
  margin-right: 20px;
 }
  .b1lieb1 i{
 float:right;margin:0px 20px 0 0; 
} 

 .jiejfij{
  width:48px;
  height:22px;
 }

  .erji{
  height:398px;
  width:990px;
  background:#fff;
  position:;
  z-index:20;
  position:absolute;
  left:210px;
  top:0;
  overflow:hidden;   
  display: none;  
 }
 .erji1{
  height:380px;
  padding-left:10px;
  width:232px;
  float:left;
  font-size:12px;
  color:#333;
  /*background:red;*/
 }
 .erji1up{
  width:232px;
  height:74px;
    margin:0 0 10px;
  color:#fff;
  font-size:12px;
 }
 .erji1up a:hover{
  color:#E60012;
  text-decoration:underline;
 }

.erji1up dt{
  float:left;
  margin-top:5px;
 }
 .erjiuptitle{
  padding-top:5px;
 }
.erjiuptitle>a{
  /*color:#E60012;*/
  font-size:14px;
  font-weight:bold;
}
.shu12{
  margin-left:5px;
  margin-right:5px;
  color:#ddd;
 }
.bianse{
  color:#E60012;
}
.erji4{
  height:380px;
  width:240px;
  float:left;
}
.erji4up{
  height:133px;
  width:100%;
  border-bottom:1px solid #ccc;
  font-size:0;
}

  .banzhong{
    
   width:750px;
  height:398px;
  float:left;
  font-size: 0px;
  position: relative;
  }

   .ban1{
        width:100%;
        height:100%;
        font-size: 50px;
        text-align: center;
        line-height: 400px;
        position: absolute;
       left:0;top:0; 
      }
     
     
       .t-1{
        width: 300px;height:30px;position: absolute;bottom:20px;left:250px;z-index:8;
        
      }
      .t-2{
        width:20px;height:20px;float:left;background: blue;margin-right: 10px;border-radius: 50%;
      }

      .t-2:hover{
        background: gray;
      }
.b1you{
  width:240px;height: 398px;float:right;background: #fff;
}
.b1you1{
  width:240px;height: 93px;
}
.b1-1{
  width: 60px;height: 67px;float: left;margin: 13px 10px;text-align: center;
}
.b1-1 img{
  display: block;margin:0 auto;

}
.b1-1 span{
  font-size: 12px;
}
.b1-1 span:hover{
  color:red;
}
.b1you2{
  width: 240px;height:78.75px;margin:0 auto;padding-top: 4.25px;padding-bottom: 5px;
}
.b1-2{
  width:214px;height: 22px;margin:0 auto 4.25px;
}
.b1-2 a{
  font-size: 12px;color:#ccc;
}
.b1-2 a:hover{
  color:red;
}

.riyoux{
  width: 240px;height: 31px;border-top: 1px solid #ccc;margin-bottom: 30px;
}


.joj{
   width: 79px;height: 31px;background:#F7F7F7;text-align: center;float: left;line-height: 31px;
}
.joj a{
  font-size: 14px;color: black;
}
.joj1{
   width: 79px;height: 31px;background:#fff;text-align: center;float: left;line-height: 31px;
}
.joj1 a{
  color: red;
}

.joj2{
  margin: 0 1px;
}

.chongzhi{
  width: 225px;height: 167px;padding-left: 15px;
}
.mianzhi{
  margin-left: 28px;
}
.span1{
  margin-left: 28px;margin-bottom: 10px;
}
.span2{
color: red;
}

.chongzhi span{
  font-size: 14px;
}

.sjcz{
  width: 222px;height: 30px;
}
.mianz{
  width: 222px;height: 30px;margin-bottom: 5px;
}
.riyoux p{
  margin-left: 20px;
}

.ljcz{
  margin-top: 20px;
}



/*0 楼上图 */
.loustubj{
  width:100%;height: 80px;padding-top: 20px;background: #F9F9F9;
 }
 .ltu1{
  width:1200px;height:60px;margin:0 auto;
 }

/*  0楼 */
.lloubj{
  width:100%;height: 400px;background: #F9F9F9;
 }
 .llou{
  width:1200px;height:400px;margin:0 auto;
 }


 .lleft-1{
  float:left;width: 240px;height: 400px;
 }

 

  .l1left{
  float:left;width: 240px;height: 400px;
 }
 .lleft{
   float:left;width: 479px;height: 399px;background-color: #ff5635;
 }
 .lright{
  float:right;width: 239px;height: 400px;background: #ccc;
 }

 .lzhong{
  float:left;width: 479px;height: 400px;background-color: #ccc;
 }
 .l11-1{
  float:left;width: 239px;height: 200px;background: white;margin-bottom: 1px;
 }
.l11-1>ul{
  text-align: center;
}
.jingkou{
  width: 239px;height: 22px;font-size: 16px;padding-top: 14px;
}
.xuehau{
  width: 239px;height: 22px;font-size: 14px;margin-bottom: 10px;
}
.l11-2{
  margin-left: 1px;
}


/* 1楼标题 */

.yilouzbtbj{
  width:100%;height: 34px;background: #F9F9F9;
 }
 .yiloubtz{
  width:1200px;height:34px;margin:0 auto;line-height: 34px;
 }

 .ylzleft{
  float:left;width: 90px;height: 34px;float: left;
 }
 .haikou9{
  width: 90px;height: 34px;display: block;color:red; 
 }
 .yizright{
  width: 385px;height: 34px;float:right;
 }
 .yizright>ul>li{
  float:left;
 }
 .yizright>ul>li>a{
  font-size: 12px;color:#7A667A;margin: auto 7px;
 }
 .yizright>ul>li>a:hover{
  color:red;
 }

/* 1楼通用 */
.d1-1bj{
  width:100%;height: 360px;background: #F9F9F9;
 }
 .d1-1nr{
  width:1200px;height:360px;margin:0 auto;
 }
 .tyleft{
  width: 210px;height: 360px;float: left;background: white;
 }
 .tyzhong{
  float:left;width: 330px;height: 360px;position:relative;
    cursor:pointer;
  font-size:0;
  overflow: hidden;
  position:relative;

 }
 .imgsbox1{
   width:1320px;
  height:100%;
  overflow: hidden;
  position:absolute;
 }
 .imgsbox1 img{
  width:330px;
  height:360px;
  float:left;

  }
.bigbox{
  width:140px;
  height:15px;
  line-height:15px;
  position:absolute;
  bottom:10px;
  left:100px;
 }
 .rec{
  float:left;
  height:5px;
  width:30px;
  background:#dddddd;
  margin-right:7px;

 }
.sb{
  background:#ff3c3c;
}
.rec:hover{
  background:#ff3c3c;
}

 
 .tyyou1{
  float:left;width: 219px;height: 360px;
 }
 .tyyou2{
  float:left;width: 219px;height: 360px;margin-left: 1px;background: white;
 }
 .tyyou3{
  float:right;width: 220px;height: 360px;
 }


 .f1zx{
   width:209px;height:100px;padding-top: 9px;
 }

.f1zx li{
 width:84.5px;height:33px;float:left;margin-left:20px;line-height: 33px; font-size: 14px;
}
.f1zx li a{
   color: black;width:104.5px;height:33px;border-bottom: 1px solid #ccc;
}

 .f1zx li-1{
  float:left;
 }

.tyleft h3{
  width:150px;height:33px;font-size: 14px; color: red;margin-left: 50px;
}
.tyleft h4{
  width:100px;height:33px;font-size: 12px; color: #ccc;margin-left: 80px;font-weight: normal;
}
.jiendf{width: 100%;height: 180px;
  padding-left: 10px;
}



.ty2-2{
  float:left;width: 100%;height: 179px;background: white;margin-bottom: 1px;
 }
.ty2-2>ul{
  text-align: center;
}
.tyjoef{
  width: 100%;height: 22px;font-size: 14px;padding-top: 14px;
}
.maiyi{
  width: 219px;height: 22px;font-size: 12px;margin-bottom: 10px;color: #A699B3;
}
.jiefn{
  width: 190px;height: 110px;display: block;margin-left: 14.5px;
}

.ty2-2-2{
  float:left;width: 100%;height:100%;margin-bottom: 1px;
 }
.ty2-2-2>ul{
  text-align: center;
}


/* 闪购 */


.syizright{
  width: 385px;height: 34px;float:left;
 }
 .syizright>ul>li{
  float:left;
 }
 .syizright>ul>li>a{
  font-size: 12px;color:#7A667A;margin: auto 7px;
 }

 .hai9{
  color:#D2A145;
}

 .syizright>ul>li>a:hover{
  color:#D2A145;
 }

 .sylzright-1{
  float: right;
 }

 .dlsh{
  color:black;font-size: 12px;
 }
 .dlsh:hover{
   color:red;
 }
 /* 闪购5图 */

 .d1-1nr-1 img{
  display:block;float:left;
 }


 /* 底部 */
  .dibubj{
  width: 100%;height: 476px;
  }
  .dibu{
    width: 1200px;height: 475px;margin: 20px auto 0px;
  }

  /* 服务 */
  .fuwu{
    width: 100%;height: 127px;margin: 30px 0;border-bottom: 1px solid #ccc;
  }
  .fuwu li{
    width: 205px;height: 66px;margin: 30.5px 45px;float:left;
  }
   .fuwu li img{
    display: block;width: 66px;height: 66px;float:left;margin-right: 5px;
   }
   .fuwu b{
    display: block;font-size: 16px;color:black;margin: 10px 0 5px;
   }
   .fuwu span{
    color:#999;font-size: 14px;
   }
  
   /* <!-- 服务明细 -- */
   .fumx{
    width: 1200px;height: 152px;margin: 20px 0;
   }
   
  .leftmx{
    width:840px;height: 152px;padding-left: 40px;float: left; 
  }
  .leftmx dl{
    width: 168px;height: 152px;float:left;
  }
  .leftmx dt{
    height: 22px;line-height: 22px;padding: 5px 0;color: #000;font-weight:bold;font-size: 16px;
  }
  .leftmx dd{
    font-size: 12px;line-height: 24px;height: 24px;
  }

  .weitu1{
    width: 90px;height: 122px;float:left;margin-right: 80px;
  }
  .weitu2{
    width: 90px;height: 122px;float:left;
  }

  .fumx p{
    font-size: 14px;color:#ccc;line-height: 32px;
  }


 <!-- 友情链接 -->
  .youqlj{
   width: 100px;height: 142px;
  }
  .youqlj p{
    text-align: center;margin: 10px auto;font-size: 12px;
  }
  .youqlj a{
    color: #000;margin: 0 5px;
  }
  .youqlj a:hover{
    color:red;
  }


  .wei{
    width: 1030px;height: 31px;padding-top: 10px;padding-left: 170px;
  }
  .wei img{
    
  }

  /* 楼层跳转 */
  .jump{
      width: 45px;
      height: 490px;
      position: fixed;
      right: 20px;
      top:15%;
       display: none; 
    }
    .jump li{
      width: 42px;
      height: 42px;
      border:1px solid #ccc;
      font-size: 20px;
      text-align: center;
      line-height: 30px;
      margin-top: -1px;
      position:relative;

    }
.tishi{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:red;
  z-index:20;
  font-size:12px;
  color:#fff;
  display:none;
}
.haigou{
  margin-top:-12px;
}